.tab-header {
	height: 60px;
	margin-bottom: -23px;
	position: relative;
	width: 960px;
	z-index: 3;
}

.tab-container {
	background-color: transparent;
	color: #010101;
	font-size: 10px;
	height: 38px;
	margin: 0;
	position: absolute;
	text-align: center;
	width: 960px;
	z-index: 2;
}

.tab-item {
	cursor: pointer;
	float: right;
	height: 37px;
	margin-left: 1px;
}

.tab-item-left {
	background: url("../images/tab-left.gif") no-repeat;
	float: left;
	height: 37px;
	width: 4px;
}

.tab-item-center {
	background: url("../images/tab-center.gif") repeat-x;
	float: left;
	height: 37px;
	padding: 13px 10px 0 10px;
}

.tab-item-right {
	background: url("../images/tab-right.gif") no-repeat;
	float: left;
	height: 37px;
	width: 4px;
}


.main-tab-content {
	margin: 0;
	position: relative;
	width: 960px;
	z-index: 1;
}

.tc-top-bg {
	background: url("../images/tc-top-bg.png") no-repeat;
	font-size: 0;
	height: 3px;
	line-height: 0;
}

.tc-bottom-bg {
	background: url("../images/tc-bottom-bg.png") no-repeat;
	font-size: 0;
	height: 3px;
	line-height: 0;
}

.tc {
	border: 0 none;
	width: 960px;
}

.tc-left-pane {
	background: url("../images/leftdown-center.png") repeat-y;
	vertical-align: top;
	width: 164px;
}

.tc-split-bg {
	padding: 0;
	width: 8px;
}

.tc-right-pane {
	background: url("../images/right-center.png") repeat-y;
	vertical-align: top;
	width: 788px;
}

.left-top {
	height: 100%;
	margin: 0 -9px 0 0;
	position: relative;
	width: 173px;
	z-index: 10;
}

.left-split {
	background-color: #f5f4f4;
	clear: both;
	font-size: 0;
	height: 6px;
	line-height: 0;
	width: 164px;
}

.left-bottom-bg {
	background-color: #F5F4F4;
	font-size: 0;
	height: 3px;
	line-height: 0;
	width: 164px;
}

.left-content {
	background: url("../images/leftup-center.png") repeat-y;
	width: 173px;
}

.left-top-locator {
	padding: 14px 0 15px;
}

.left-top-links {
	padding: 0 7px 0 8px;
	width: 158px;
}

.left-top-head {
	border-bottom: 1px solid #E0E0E0;
}

.lt-title {
	color: #000;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 5px 10px;
}

.left-top-list {
	font-size: 10px;
	padding: 10px;
}

.lt-list-c {
	margin: 0;
	padding: 0 0 16px;
}

.lt-bottom {
	background: white url("../images/leftup-down.png") no-repeat left -2px;
	font-size: 0;
	height: 4px;
	line-height: 0;
	margin-left: 0;
	position: relative;
	width: 173px;
}

.left-bottom-bg div {
	background: url("../images/leftdown-up.png") no-repeat;
	font-size: 0;
	height: 3px;
	line-height: 0;
	width: 164px;
}

.lb-stock {
	margin-bottom: 18px;
	padding-top: 8px;
}

/* manage fixture test data */

.right-content {
	width: 670px;
	margin: 20px auto;
}

.tit {
	background: url("../images/tit.jpg") no-repeat scroll 0 0 transparent;
	height: 60px;
}

.managelist {
	margin: auto;
	padding-bottom; 50px;
	width: 100%px;
}

.managelist ul, .managelist li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.managelist li {
	float: left;
	padding-left: 12px;
	padding-top: 25px;
}

.managepic {
	background: none repeat scroll 0 0 #e3e3e3;
	float: left;
	padding: 5px 0 5px 5px;
	width: 120px;
}

.managepic h6 {
	font-size: 14px;
	font-weight: normal;
	margin: -30px 0 0;
	text-align: center;
	width: 120px;
	color: #00075b;
	padding-top: 30px;
}

.managedetail {
	float: left;
	padding: 0 15px;
	text-align: left;
	width: 480px;
}

.managedetail h5{
    border-bottom: 1px solid #CACACA;
    color: #7F373B;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    padding: 5px 10px 5px 24px;
}

.managedetail p {
	font-size: 11px;
	color: #666;
	line-height: 24px;
	text-indent: 1em;
}
/* end manage fixture test data */
