.tab-header {
	height: 60px;
	margin-bottom: -23px;
	position: relative;
	width: 960px;
	z-index: 3;
}

.tab-container {
	background-color: transparent;
	color: #010101;
	font-size: 10px;
	height: 38px;
	margin: 0;
	position: absolute;
	text-align: center;
	width: 960px;
	z-index: 2;
}

.tab-item {
	cursor: pointer;
	float: left;
	height: 37px;
	margin-left: 1px;
}

.tab-item-selected {
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: 38px;
}

.tab-item a {
	color: #000;
	text-decoration: none;
	outline: medium none;
}

.tab-item a:hover {
	color: #0683d9;
}

.tab-item-selected a{
	color: #0683d9;
}

.tab-item-left {
	background: url("../images/tab-left.png") no-repeat;
	float: left;
	height: 37px;
	width: 4px;
}

.tab-item-selected .tab-item-left {
	background: url("../images/tab-sel-left.png") no-repeat;
	float: left;
	height: 38px;
	width: 4px;
}

.tab-item-center {
	background: url("../images/tab-center.png") repeat-x;
	float: left;
	height: 37px;
	padding: 13px 8px 0;
}

.tab-item-selected .tab-item-center {
	background: url("../images/tab-sel-center.png") repeat-x;
	float: left;
	height: 38px;
	padding: 13px 8px 0;
}

.tab-item-right {
	background: url("../images/tab-right.png") no-repeat;
	float: left;
	height: 37px;
	width: 4px;
}

.tab-item-selected .tab-item-right {
	background: url("../images/tab-sel-right.png") no-repeat;
	float: left;
	height: 38px;
	width: 4px;
}


.main-tab-content {
	margin: 0;
	position: relative;
	width: 960px;
	z-index: 1;
}

.tc-top-bg {
	background: url("../images/tc-top-bg.png") no-repeat;
	font-size: 0;
	height: 3px;
	line-height: 0;
}

.tc-bottom-bg {
	background: url("../images/tc-bottom-bg.png") no-repeat;
	font-size: 0;
	height: 3px;
	line-height: 0;
}

.tc {
	border: 0 none;
	width: 960px;
}

.tc-left-pane {
	background: url("../images/leftdown-center.png") repeat-y;
	vertical-align: top;
	width: 164px;
}

.tc-split-bg {
	padding: 0;
	width: 8px;
}

.tc-right-pane {
	background: url("../images/right-center.png") repeat-y;
	vertical-align: top;
	width: 788px;
}

.left-top {
	height: 100%;
	margin: 0 -9px 0 0;
	position: relative;
	width: 173px;
	z-index: 10;
}

.left-split {
	background-color: #f5f4f4;
	clear: both;
	font-size: 0;
	height: 6px;
	line-height: 0;
	width: 164px;
}

.left-bottom-bg {
	background-color: #F5F4F4;
	font-size: 0;
	height: 3px;
	line-height: 0;
	width: 164px;
}

.left-content {
	background: url("../images/leftup-center.png") repeat-y;
	width: 173px;
}

.left-top-locator {
	padding: 14px 0 15px;
}

.left-top-links {
	padding: 0 7px 0 8px;
	width: 158px;
}

.left-top-head {
	border-bottom: 1px solid #E0E0E0;
}

.lt-title {
	color: #000;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 5px 10px;
}

.left-top-list {
	font-size: 10px;
	padding: 5px;
}

.lt-menu-item {
	clear: both;
	line-height: 14px;
	padding: 4px 0 0 10px;
}

.lt-menu-decor {
	background: url("../images/list-decor.png") no-repeat scroll 0 0 transparent;
	height: 15px;
	width: 7px;
}

.lt-menu-link a {
	color: #226BD7;
	text-decoration: none;
}

.lt-menu-link a:hover {
	color: #FE9515;
	text-decoration: underline;
}

.lt-list-c {
	margin: 0;
	padding: 0 0 16px;
}

.lt-bottom {
	background: white url("../images/leftup-down.png") no-repeat left -2px;
	font-size: 0;
	height: 4px;
	line-height: 0;
	margin-left: 0;
	position: relative;
	width: 173px;
}

.left-bottom-bg div {
	background: url("../images/leftdown-up.png") no-repeat;
	font-size: 0;
	height: 3px;
	line-height: 0;
	width: 164px;
}

.lb-stock {
	margin-bottom: 18px;
	padding-top: 8px;
}

/* manage fixture test data */

.right-content {
	color: #666666;
	height: auto !important;
	width: 693px;
	margin: 20px auto;
	min-height: 450px;
	padding-bottom: 50px;
	text-align: left;
}

.right-content p{
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.tit {
	background: url("../images/tit.jpg") no-repeat scroll 0 0 transparent;
	height: 60px;
	margin: 0 16px;
}

.managelist {
	margin: auto;
	padding-bottom; 50px;
	width: 100%px;
}

.managelist ul, .managelist li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.managelist li {
	float: left;
	padding-left: 12px;
	padding-top: 25px;
}

.managepic {
	background: none repeat scroll 0 0 #e3e3e3;
	float: left;
	padding: 5px 0 5px 5px;
	width: 120px;
}

.managepic h6 {
	font-size: 14px;
	font-weight: normal;
	margin: -30px 0 0;
	text-align: center;
	width: 120px;
	color: #00075b;
	padding-top: 30px;
}

.managedetail {
	float: left;
	padding: 0 15px;
	text-align: left;
	width: 480px;
}

.managedetail h5{
    border-bottom: 1px solid #CACACA;
    color: #7F373B;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    padding: 5px 10px 5px 24px;
}

.managedetail p {
	font-size: 11px;
	color: #666;
	line-height: 24px;
	text-indent: 1em;
	margin: 5px 0 0 0;
}
/* end manage fixture test data */
.aboutpic{
	float:right;
}
.aboutpic li{
	padding:20px 30px;
}
.courselist{
   float: left;
	width:430px;
	margin-top:25px;
}
.courselist li{
	clear:both;
	line-height:24px;
	padding-left:20px;
	background:url(/images/arrow04.gif) 0 9px no-repeat;
}
.courselist li span{
	width:50px;
	display:block;
	float:left;
	margin-right:10px;
	color: #7f373b;
	font-size:13px;
}
.courselist li div{
	width:350px;
	font-style:normal;
	float:left;
}

.pagelist {display:table;clear:both;line-height:30px;}
.pagelist em {padding:2px;border:1px solid #E7E7E7;font-size:12px;margin:0px 1px;color:#14316B;font-weight:bold;font-style:normal;}
.pagelist strong {padding:2px;border:1px solid #E7E7E7;font-size:12px;margin:0px 1px;color:#009900;}
.pagelist a {padding:2px;border:1px solid #E7E7E7;font-size:12px;margin:0px 1px;}

/* news page */

.news {
	border-bottom: 1px solid #dddddd;
	margin: 0;
	overflow: hidden;
	padding: 10px 0 0;
}

.news-image {
	margin: 0 10px 5px 0;
	padding: 4px;
	width: 160px;
	height: 120px;
	float: left;
	border: 1px solid #dddddd;
}

.news-image a {
	outline: medium none;
}

.news a {
	color: #0088bb;
	text-decoration: none;
	outline: medium none;
}

.news a:hover {
	color: #0088bb;
	text-decoration: underline;
}

.news h2 a {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

.news h3 {
	color: #9c5656;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding: 0 30px;
}

.news p {
	margin: 0;
	padding: 0 0 10px;
}

.news img {
	background: none;
}

.round-box {
	float: left;
}

.rb-title {
	width: 100%;
	float: left;
}

.rb-spacer {
	height: 30px;
}

.rbt-left {
	color: #969696;
	font-size: 22px;
	margin: 0 0 5px 10px;
	width: 318px;
}

.rb-top {
	background: url("../images/rb_top.png") no-repeat scroll center top transparent;
	height: 6px;
	width: 100%;
	float: left;
}

.rb-bottom {
	background: url("../images/rb_bottom.png") no-repeat scroll center top transparent;
	height: 6px;
	width: 100%;
	float: left;
}

.rb-middle {
	background: url("../images/rb_middle.jpg") repeat-y scroll 0 0 transparent;
	padding-bottom: 10px;
	width: 100%;
	float: left;
}

.rb-date {
	color: #b4b4b4;
	font-size: 11px;
	font-weight: bold;
}

.latestnews {
	margin-left: 27px;
	padding: 0;
}

.latestnews p {
	color: #464646;
	font-size: 12px;
	line-height: 16px;
	margin: 4px 0 12px;
}

.latestnews a {
	color: #072b60;
	font-family: Arial;
	text-decoration: none;
}

.latestnews a:hover {
	text-decoration: underline;
}

a.blue-button {
    background: url("../images/bluebutton-right.png") no-repeat scroll right top transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font: 12px arial,sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 26px;
    text-decoration: none
}

a.blue-button:hover {
	background-position: right bottom;
	color: #ff6609;
	outline: medium none;
	text-decoration: none;
}

.blue-button span {
	float: left;
    background: url("../images/bluebutton-left.png") no-repeat scroll 0 0 transparent;
    display: block;
    line-height: 14px;
    padding: 5px 5px 5px 14px;
}

a.blue-button:hover span{
	background-position: left bottom;
	padding: 6px 5px 4px 14px;
}

.press {
	border-bottom: 1px solid #dddddd;
	margin: 0;
	overflow: hidden;
	padding: 10px 0 0;
}

.press a {
	color: #0088bb;
	text-decoration: none;
	outline: medium none;
}

.press a:hover {
	color: #9c5656;
}

.press h2 a {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	float: left;
	width: 80%
}

.press h3 {
	color: #9c5656;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
	padding: 0 30px;
}
/* end news page */
