.item-normal-0 {
	width:73px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/static_73.png');
}
.item-normal-1 {
	width:89px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/static_89.png');
}
.item-normal-2 {
	width:79px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/static_79.png');
}
.item-normal-3 {
	width:91px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/static_91.png');
}
.item-normal-4 {
	width:91px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/static_91.png');
}
.item-normal-5 {
	width:89px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/static_89.png');
}
.item-last {
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/static_448.png');
}
.item-hover-0 {
	width:73px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/hover_73.png');
}
.item-hover-1 {
	width:89px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/hover_89.png');
}
.item-hover-2 {
	width:79px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/hover_79.png');
}
.item-hover-3 {
	width:91px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/hover_91.png');
}
.item-hover-4 {
	width:91px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/hover_91.png');
}
.item-hover-5 {
	width:89px;
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/hover_89.png');
}
.menu-sub {
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/down-line.png');
}
.sub-container {
	background-image:url();
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/media/images/down-line-forie6.png');
}
