html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

html, body {
	background: none repeat scroll 0 0 #f5f5f5;
}

body {
	background: url("../images/top_bg.jpg") repeat-x center top;
	color: #404040;
	font: 12px Verdana,Segoe,Tahoma,Verdana,sans-serif;
	line-height: 16px;
}

.container {
	background: url("../images/bottom_bg.jpg") no-repeat scroll center bottom transparent;
	clear: both;
	color: #76797C;
	margin: 0 auto;
	padding-bottom: 79px;
	min-width: 960px;
	overflow: hidden;
	width: 100%;
}

.content {
	margin: 0 auto 10px;
	padding: 0;
	width: 960px;
	color: #333333;
}

.main-body {
	padding: 15px 0 0 0;
	width: 960px;
}

/*------------------- bottom and footer --------------*/
.footer {
	width: 960px;
	margin: 0 auto;
}

.footer-inner{
	clear: both;
	color: #072B60;
	padding: 15px 40px 0 60px;
	text-align: right;
}

.footer span {
	float: right;
	margin-top: 20px;
}

.content_bottom {
	background: url("../images/content_bottom_bg.png") no-repeat scroll 0 0 transparent;
	height: 27px;
}

/*------------------- end bottom and footer ----------*/
/*-------------------- Heading -----------------------*/
.header {
	padding: 0;
}

.logo{
	background: url("../images/header_bg.gif") no-repeat center top;
	height: 50px;
	padding: 15px 45px 0;
	text-align: left;
}

.logo span {
	color: #fff;
	float: right;
}

.logo span a {
	color: #c6c6c6;
	font-weight: bold;
	text-decoration: none;
	outline: none;
}

.logo span a:hover {
	color: #fff
}

/*-------------------- Menu --------------------------*/
.nav-menu {
	height: 62px;
	margin: 20px 0 0 0;
}

.menu-bar {
	line-height: normal;
}

.menu-main {
	background-image: url("../images/up-line.png");
	background-repeat: no-repeat;
	height: 52px;
	position: relative;
	z-index: 2;
}

.menu-sub {
	background-image: url("../images/down-line.png");
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	height: 26px;
	margin-top: -14px;
	position: relative;
	width: 960px;
	z-index: 0;
}

.menu-upper {
	background-color: Transparent;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 52px;
	margin: 0;
	position: absolute;
	text-align: center;
	z-index: 3;
}

.item-normal {
	background-image: url("../images/menu-bg.png");
	color: black;
	display: block;
	float: left;
	height: 52px;
	text-align: center;
}

.item-hover {
	color: #41a0e8;
	height: 52px;
	float: left;
	text-align: center;
	display: block;
	z-index: 2;
	background-image: url("../images/menu-bg.png");
}

.item-last {
	background-image: url("../images/menu-bg-last.png");
	color: black;
	display: block;
	float: left;
	height: 52px;
	text-align: center;
	width: 448px;
}


.item-selected {
	background-image: none;
	color: white;
	display: block;
	float: left;
	height: 52px;
	text-align: center;
}

#item-selected-0 {
	width: 73px;
}
#item-selected-1 {
	width: 89px;
}
#item-selected-2 {
	width: 79px;
}
#item-selected-3 {
	width: 91px;
}
#item-selected-4 {
	width: 91px;
}
#item-selected-5 {
	width: 89px;
}

#item-hover-0 {
	background-position: 0 -52px;
	width: 73px;
}
#item-hover-1 {
	background-position: -786px -52px;
	width: 89px;
}
#item-hover-2 {
	background-position: -504px -52px;
	width: 79px;
}
#item-hover-3 {
	background-position: -695px -52px;
	width: 91px;
}
#item-hover-4 {
	background-position: -695px -52px;
	width: 91px;
}
#item-hover-5 {
	background-position: -786px -52px;
	width: 89px;
}

#item-normal-0 {
	background-position: 0 0;
	width: 73px;
}
#item-normal-1 {
	background-position: -786px 0;
	width: 89px;
}
#item-normal-2 {
	background-position: -504px 0;
	width: 79px;
}
#item-normal-3 {
	background-position: -695px 0;
	width: 91px;
}
#item-normal-4 {
	background-position: -695px 0;
	width: 91px;
}
#item-normal-5 {
	background-position: -786px 0;
	width: 89px;
}

.inner {
	height: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.menu-link {
	display: block;
	color: black;
	text-decoration: none;
	outline: none;
}

a.menu-link:hover {
	color: #226BD7;
}

.item-selected .menu-link, .item-selected a.menu-link:hover {
	color: white;
}

.sub-container {
	background: url("../images/down-line.png") no-repeat;
	cursor: pointer;
	height: 26px;
	width: 960px;
}

.sub-item {
	color: white;
	float: left;
	height: 23px;
	overflow: hidden;
	padding: 1px 0 0 18px;
	text-align: center;
}

.sub-link {
	color: white;
	text-decoration: none;
	outline: none;
}

a.sub-link:hover {
	color: #e0e0e0;
}

.sub-item img {
	height: 100%;
	margin-top: -18px;
	position: relative;
	top: -5px;
	display: none;
}

#sub-item-selected a{
	color: #e0e0e0;
}

#sub-item-selected img{
	display: inline;
}

/*---------------------------- End Menu ----------------------*/
/*---------------------------- End Header --------------------*/
/*---------------------------- tab ---------------------------*/
/*------------------------ end tab ---------------------------*/

