{% extends "main/frame.html" %}
{% block css %}
	<link rel="stylesheet" media="screen" href="/media/css/home.css"/>
{% endblock %}

{% block content %}
<div><script type="text/javascript">flash("/flash/bcastr4.swf","960","330","");</script></div>
<div class="homecontent">
	<div class="homeinnercontent">
		<div class="homeleftbox">
			<div class="latestnews"  onclick="window.location.href='http://charts25.equitystory.com/index.php?id=841';">
				<iframe src="http://charts25.equitystory.com/index.php?id=841" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" name="tongji" width="318" height="175"></iframe>
			</div>
		</div>
		<div class="homerightbox">
			<div class="box-inside">
				<p><font style="font-weight: bold; font-size: 15px">Company Profile</font></p>
				<div align=left style=line-height:20px;padding-top:15px;>
					<p>
					&nbsp;&nbsp;&nbsp; Joyou AG is listed in the Prime Standard of the Frankfurt Stock Exchange,trading under the ticker symbol JY8.<br />
					&nbsp;&nbsp;&nbsp; Joyou designs,produces and sells faucets and other sanitary ware products.The main product groups sold in its own brand business are bathroom faucets...
					</p>
				</div>
			</div>
			<a href="/about/">MORE>></a>
		</div>
	</div>
</div>
{% endblock %}
