<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>joyou</title>
		<link rel="stylesheet" media="screen" href="/media/css/screen.css"/>
		<style>
		</style>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="content">
				<div class="header">
					<div class="nav-menu">
						<div class="menu-bar">
							<div class="menu-top">
								<div class="menu-upper">
									<div class="item-selected item-0">
										<table class="inner"><tr><td>
											Home
										</tr></td></table>
									</div>
									<div class="item-normal item-1">
										<table class="inner"><tr><td>
										Corporate
										</tr></td></table>
									</div>
									<div class="item-normal item-2">
										<table class="inner"><tr><td>
										News
										</tr></td></table>
									</div>
									<div class="item-normal item-3">
										<table class="inner"><tr><td>
										Products
										</tr></td></table>
									</div>
									<div class="item-normal item-4">
										<table class="inner"><tr><td>
										Investor Relations
										</tr></td></table>
									</div>
									<div class="item-normal item-5">
										<table class="inner"><tr><td>
										Contact
										</tr></td></table>
									</div>
									<div class="item-normal item-6">
									</div>
									<div class="item-normal item-7">
									</div>
									<div class="item-normal item-8">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="body">
				</div>
				<div class="footer">
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
	</script>
</html>
