{% extends "main/frame.html" %}
{% block css %}
	<link rel="stylesheet" media="screen" href="/media/css/ir.css"/>
{% endblock %}

{% block content %}
<div class="tab-header">
	<div class="tab-container">
		{% for tab in tabs %}
		<div class="tab-item">
			<div class="tab-item-left"> </div>
			<div class="tab-item-center">{{tab.name}}</div>
			<div class="tab-item-right"> </div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="main-tab-content">
	<div class="tc-top-bg"></div>
	<table class="tc">
		<tr>
			<td class="tc-left-pane">
				<div class="left-top">
					<div class="left-content">
						<div class="left-top-locator">
							<div class="left-top-links">
								<div class="left-top-head">
									<div class="lt-title">
										Management Board
									</div>
								</div>
								<div class="left-top-list">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="left-split">
				</div>
				<div class="left-bottom-bg"><div></div></div>
				<div>
				</div>
			</td>
			<td class="tc-split-bg"></td>
			<td class="tc-right-pane"></td>
		</tr>
	</table>
	<div class="tc-bottom-bg"></div>
</div>
{% endblock %}
