{% extends "main/frame2.html" %}
{% block right %}
<div class="right-content">
	<h5 class="tit">&nbsp;</h5>
	<div align="left" style="line-height: 20px; paddiing-top: 15px;">
		{% if value.news %}
		<div class="round-box">
			<div class="rb-spacer"></div>
			<div class="rb-title">
				<div class="rbt-left">
					Latest News
				</div>
			</div>
			<div class="rb-top"></div>
			<div class="rb-middle">
				<div class="latestnews">
					<div class="latestnews-inner">
						{% for item in value.news %}
						<p>
							<span class="rb-date">{{item.creation_date|date:"Y-m-d"}}</span>
							<span class="rb-cate">{{item.category.name}}</span>
							<a href="/article/{{item.id}}">{{item.title}}</a>
						</p>
						{% endfor %}
						<a class="blue-button" href="/news">
							<span>View All</span>
						</a>
					</div>
				</div>
			</div>
			<div class="rb-bottom"></div>
		</div>
		{% endif %}
		{% if value.publication %}
		<div class="round-box">
			<div class="rb-spacer"></div>
			<div class="rb-title">
				<div class="rbt-left">
					Latest Publications
				</div>
			</div>
			<div class="rb-top"></div>
			<div class="rb-middle">
				<div class="latestnews">
					<div class="latestnews-inner">
						{% for item in value.publication %}
						<p>
							<span class="rb-date">{{ item.creation_date|date:"Y-m-d" }}</span>
							<a href="#">{{ item.title }}</a>
						</p>
						{% endfor %}
						<a class="blue-button" href="#">
							<span>View All</span>
						</a>
					</div>
				</div>
			</div>
			<div class="rb-bottom"></div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}

