{% extends "main/frame2.html" %}
{% block right %}
<div class="right-content">
	<h5 class="tit">&nbsp;</h5>
	<div align="left" style="line-height: 20px; paddiing-top: 15px;">
		<div class="round-box">
			<div class="rb-spacer"></div>
			<div class="rb-title">
				<div class="rbt-left">
					Latest News
				</div>
			</div>
			<div class="rb-top"></div>
			<div class="rb-middle">
				<div class="latestnews">
					<div class="latestnews-inner">
						<p>
							<span class="rb-date">2010-10-12</span>
							<a href="#">Joyou Excels in Skill Competition</a>
						</p>
						<p>
							<span class="rb-date">2010-10-12</span>
							<a href="#">Joyou Awarded “Golden Partner Prize” for Real Estate Engineering Procurement in China</a>
						</p>
						<a class="blue-button" href="#">
							<span>View All</span>
						</a>
					</div>
				</div>
			</div>
			<div class="rb-bottom"></div>
		</div>
		<div class="round-box">
			<div class="rb-spacer"></div>
			<div class="rb-title">
				<div class="rbt-left">
					Latest Publications
				</div>
			</div>
			<div class="rb-top"></div>
			<div class="rb-middle">
				<div class="latestnews">
					<div class="latestnews-inner">
						<p>
							<span class="rb-date">2010-10-12</span>
							<a href="#">Joyou Excels in Skill Competition</a>
						</p>
						<p>
							<span class="rb-date">2010-10-12</span>
							<a href="#">Joyou Awarded “Golden Partner Prize” for Real Estate Engineering Procurement in China</a>
						</p>
						<a class="blue-button" href="#">
							<span>View All</span>
						</a>
					</div>
				</div>
			</div>
			<div class="rb-bottom"></div>
		</div>
	</div>
</div>
{% endblock %}

