{% extends "main/frame2.html" %}
{% block right %}
<div class="right-content">
	<h5 class="tit">&nbsp;</h5>
	<div align="left" style="line-height: 20px; paddiing-top: 15px;">
		<div class="news-list">
			{% for item in value.company %}
			<div class="news">
				<a href="#" class="news-image"><img width="120" height="120" src="{{ item.thumbnail }}"/></a>
				<h2><a href="#">{{ item.title }}</a></h2>
				<h3>{{ item.creattion_date|date:"Y-m-d" }}</h3>
				<p>
				{{ item.content|truncatewords:40}}
				<a class="more-link" href="#">[Read More...]</a>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

