{% extends "main/frame2.html" %}
{% block right %}
<div class="right-content">
	<h5 class="tit">&nbsp;</h5>
	<div align="left" style="line-height: 20px; paddiing-top: 15px;">
		<div class="news-list">
			{% for item in value.company %}
			<div class="news">
				<div class="news-image">
					<a href="/article/{{item.id}}"><img width="160" height="120" src="{{ item.thumbnail }}"/></a>
				</div>
				<h2><a href="/article/{{item.id}}">{{ item.title }}</a></h2>
				<h3>{{ item.creation_date|date:"Y-m-d" }}</h3>
				<p>
				{{ item.summary }}
				<a class="more-link" href="/article/{{item.id}}">[Read More...]</a>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

