{% extends "main/frame2.html" %}
{% block right %}
<div class="right-content">
	<h5 class="tit">&nbsp;</h5>
	<div align="left" style="line-height: 20px; paddiing-top: 15px;">
		<div class="press-list">
			<div class="press">
				<h2><a href="#">Joyou AG signs major 5 Star Hotel Projects</a></h2>
				<h3>2010-11-10</h3>
			</div>
			<div class="press">
				<h2><a href="#">Joyou AG: Results 2010 exceed guidance and analyst’s estimates</a></h2>
				<h3>2010-11-10</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}

