{% extends "main/frame1.html" %}
{% block css %}
	<link rel="stylesheet" media="screen" href="/media/css/product.css"/>
{% endblock %}

{% block content %}
<div class="pcontent">
	<div class="scontent">
		<dl class="promenu">
			<dt><img src="/media/images/bathroom_tit.jpg"></dt>
			<dd>
			<ul>
				<li class="pro01_tit"><a href="productshow.asp?CateID=1"><span>Bathroom Faucets</span></a></li>
				<li class="pro02_tit"><a href="productshow.asp?CateID=2"><span>Kitchen Products</span></a></li>
				<li class="pro03_tit"><a href="productshow.asp?CateID=7"><span>Shower Products</span></a></li>
				<li class="pro04_tit"><a href="productshow.asp?CateID=8"><span>Other Bathroom Products &amp; Accessories</span></a></li>
				<li class="pro05_tit"><a href="productshow.asp?CateID=9"><span>Other Faucets and Sanitary Hardware</span></a></li>
			</ul>
			</dd>
		</dl>
	</div>
</div>
{% endblock %}
