{% extends "main/frame1.html" %}
{% block css %}
	<link rel="stylesheet" media="screen" href="/media/css/product.css"/>
{% endblock %}

{% block content %}
<div class="pcontent">
	<div class="scontent">
		<dl class="promenu">
			<dt><img src="/media/images/bathroom_tit.jpg"></dt>
			<dd>
			<ul>
				{% for item in value.product %}
				<li class="pro_tit"><a href="#" style="background: url('{{item.image}}') no-repeat"><span>{{item.name}}</span></a></li>
				{% endfor %}
			</ul>
			</dd>
		</dl>
	</div>
</div>
{% endblock %}
