{% extends "main/test_frame.html" %}
{% block css %}
	<link rel="stylesheet" media="screen" href="/media/css/ir.css"/>
{% endblock %}

{% block content %}
{% if tabs.1 %}
<div class="tab-header">
	<div class="tab-container">
		{% for tab in tabs.1 %}
		<div class="tab-item">
			<div class="tab-item-left"> </div>
			<div class="tab-item-center">{{tab.1.name}}</div>
			<div class="tab-item-right"> </div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
<div class="main-tab-content">
	<div class="tc-top-bg"></div>
	<table class="tc" cellspacing="0" cellpadding="0">
		<tr>
			<td class="tc-left-pane">
				<div class="left-top">
					<div class="left-content">
						<div class="left-top-locator">
							<div class="left-top-links">
								<div class="lt-list-c">
									<div class="left-top-head">
										<div class="lt-title">
											Management Board
										</div>
									</div>
									<div class="left-top-list">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="lt-bottom">
					</div>
				</div>
				<div class="left-split">
				</div>
				<div class="left-bottom-bg"><div></div></div>
				<div>
					<div class="lb-stock">
						<img width="164px" src="http://charts25.equitystory.com/charts/181_833/png.php?main_name=&id=833&isin=DE000A0WMLD8&intra_indic=1&DATETIME_TZ_START_RANGE=0000-00-01T00%3A00%3A00&DATETIME_TZ_END_RANGE=0000-00-01T23%3A59%3A59&indic=0+none|&lang=eng&sma_bm1=0&sma_bm2=0&INTERVAL=1_M_1D&SMA=0&SMA2=0&DATETIME_TZ_START_RANGE_=locale_daterange_format&DATETIME_TZ_END_RANGE_=locale_daterange_format&id_exchange=GER&INDIC_NOTATION_ID=0&hideVolumes=0&main_graph_type=4"/>
					</div>
				</div>
			</td>
			<td class="tc-split-bg"></td>
			<td class="tc-right-pane">
<!-- fixture test data -->
<div class="right-content">
<h5 class="tit">&nbsp;</h5>
<div align="left" style="line-height:20px;padding-top:15px;"><ul class="managelist clearfix">
    <li>
    <div class="managepic"><img height="124" width="115" src="/media/upload/images/manager/managepic01.png" alt="">
    <h6>Jianshe Cai</h6>
    </div>
    <div class="managedetail">
    <h5>Jianshe Cai (57), Founder, CEO and Board Chairman</h5>
    <p><img src="/media/images/arrow04.gif" alt=""> Founder and CEO of Quanzhou Joyou Sanitation Technology Industrial Co., Ltd. and Joyou Building Material Group for 30 years</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Chairman of Sanitary Ware &amp; Valves Industry Association, Fujian Province since 2005</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Deputy Chairman of Sanitary Ware Association of China</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Chairman of Furniture &amp; Decoration Chamber of Commerce</p>
    <p><br>
    &nbsp;</p>
    </div>
    </li>
    <li>
    <div class="managepic"><img height="124" width="115" src="/media/upload/images/manager/managepic02.png" alt="">
    <h6>Jilin Cai</h6>
    </div>
    <div class="managedetail">
    <h5>Jilin Cai (32), Chief Operating Officer (COO)</h5>
    <p><img src="/media/images/arrow04.gif" alt=""> Business Administration at Fujian Normal University</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Extensive management experience with Joyou Sanitation TechnologyIndustrial Co., Ltd. and Joyou Building Material Group since 1997</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Executive Manager in Beijing subsidiary of Joyou Group (1997-2007)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Deputy Secretary General of Fujian Sanitary Ware and Valve Industry Association since 2007</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Chairman of Water Heating Section, Chinese Hardware Industry Association since 2008</p>
    <p><br>
    &nbsp;</p>
    </div>
    </li>
    <li>
    <div class="managepic"><img height="124" width="115" src="/media/upload/images/manager/managepic03.png" alt="">
    <h6>Gang Zheng</h6>
    </div>
    <div class="managedetail">
    <h5>Gang Zheng (40), Chief Financial Officer (CFO)</h5>
    <p><img src="/media/images/arrow04.gif" alt=""> BS, Industrial Management, Xiamen University (1992); MBA, Columbia Business School (1998)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Associate Investment banking, China International Trust and Investment Corporation (CITIC) (1996-1997)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Senior Financial Analyst, General Motors (1998-1999)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Finance Manager, Asia Pacific, Delphi Corporation Dynamics and Propulsion System (1999-2002)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Vice President, Sichuan Small Investment Fund (2002-2003)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Director of China New Business Development, W.R. Grace (2005-2007)</p>
    <p><br>
    &nbsp;</p>
    </div>
    </li>
    <li>
    <div class="managepic"><img height="124" width="115" src="/media/upload/images/manager/managepic05.png" alt="">
    <h6>Zufang Li</h6>
    </div>
    <div class="managedetail">
    <h5>Zufang Li (51), Chief Accounting Officer (CAO)</h5>
    <p><img src="/media/images/arrow04.gif" alt=""> Associate degree in finance at Fujian Radio and Television University</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Longstanding accounting experience</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Worked in the accounting departments of various industrial corporations: Nan''''''''an Shishan Town Co., Ltd., Nanshun Electronics Co., Ltd., Nan''''''''an Yifeng Paper Co., Nan''''''''an Jiutian Umbrella Co., Nan''''''''an Wah Hing Umbrella Co., Xiamen Minghe Industrial Corporation</p>
    <p><img src="/media/images/arrow04.gif" alt=""> With Joyou as Financial Manager since 1991</p>
    <p><br>
    &nbsp;</p>
    </div>
    </li>
    <li>
    <div class="managepic"><img height="124" width="115" src="/media/upload/images/manager/managepic04.png" alt="">&nbsp;
    <h6>Ian M. Oades</h6>
    </div>
    <div class="managedetail">
    <h5>Ian M. Oades (43), Head of Investor Relations</h5>
    <p><img src="/media/images/arrow04.gif" alt=""> MBA International CEIBS, China, &amp; Warwick Business School, UK (2002); two undergraduates in Industrial Management (1992) and Engineering (1988)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Founder of Financial Consultancy in China, assisting Chinese SMEs to successfully list abroad (2004-2009)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Author of the book ''''''''IPO. A guide for Chinese SMEs Seeking International Capital'''''''' published by CITIC Publishing (2007)</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Regular guest speaker with China Law Society, &amp; MOFCOM on M&amp;A law and International Capital Markets</p>
    <p><img src="/media/images/arrow04.gif" alt=""> Guest lecturer at FudanUniversity, and Lyon University (Shanghai)</p>
    <br>
    <br>
    <br>
    <p>Supervisory Board: Dr. Rainer Simon (Chairman), Mr. Johnny Chen, Mr. Wei Wang</p>
    </div>
    </li>
</ul></div>
</div>
<!-- end fixure test data -->
			</td>
		</tr>
	</table>
	<div class="tc-bottom-bg"></div>
</div>
{% endblock %}
